/* GENERAL */

html {
	height: 100%;
	/* overflow: hidden; */
	scroll-behavior: smooth;
}

@media (max-width: 991px) {
	.container {
		width: 95%;
	}
}
.custom-border {
	border-image-source: var(--fio-sys-custom-border-image-source-home);
	border-image-slice: 13%;
	border-image-width: 20px;
	border-image-outset: 0px;
	border-image-repeat: round;
}

.section-hero {
	position: relative;
	z-index: 0;
	background: #ffffff;
	overflow: hidden;
}
.section-hero,
.layer-parallax {
	height: 100vh;
}
.hero-title {
	background: transparent;
	height: 100%;
	align-items: start;
	justify-content: center;
	display: flex;
	margin-top: 10svh;
}
.hero-title img.logo {
	margin-bottom: 40px;
	height: 80px;
}
.hero-title h1 {
	display: block;
	font-size: var(--fio-sys-typography-size-5);
	line-height: var(--fio-sys-typography-height-110);
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.hero-title span.subtitle {
	color: var(--fio-sys-color-primary-dark);
	display: block;
	font-family: var(--fio-sys-typography-family-primary-medium);
	font-size: var(--fio-sys-typography-size-0);
	margin-top: 20px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.hero-title span.label {
	color: var(--fio-sys-color-primary-dark);
	display: block;
	font-family: var(--fio-sys-typography-family-primary-medium);
	font-size: var(--fio-sys-typography-size-1);
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: uppercase;
}

@media (min-width: 1400px) {
	.hero-title span.subtitle {
		font-size: var(--fio-sys-typography-size-2);
	}
}

.layer-parallax {
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
}
.layer-parallax.parallax {
	position: fixed;
}
#layer-1 {
	background-image: url(../../media/home/layer-1.png);
	background-position: center;
	background-size: cover;
}
#layer-2 {
	background-image: url(../../media/home/layer-2-mobile.png);
	background-size: 100%;
}
#layer-3 {
	display: none;
	background-image: url(../../media/home/layer-3.png);
}
#layer-4 {
	display: none;
	background-image: url(../../media/home/layer-4.png);
	background-repeat: no-repeat;
}

@media (min-width: 768px) {
	#layer-1 {
		display: block;
		background-image: url(../../media/home/layer-1.png);
		background-position: center;
		background-size: cover;
	}
	#layer-2 {
		display: block;
		background-image: url(../../media/home/layer-2.png);
		background-size: 100%;
	}
	#layer-3 {
		display: block;
		background-image: url(../../media/home/layer-3.png);
	}
	#layer-4 {
		display: block;
		background-image: url(../../media/home/layer-4.png);
		background-repeat: no-repeat;
	}
	.hero-title {
		align-items: center;
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	/* .hero-title h1 .label {
		font-size: var(--fio-sys-typography-size-5);
	}
	.hero-title h1 {
		font-size: var(--fio-sys-typography-size-5);
	}
	.hero-title h1 span {
		font-size: var(--fio-sys-typography-size-5);
	} */
}

.section-hero .frame {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* CONTENT */

.main {
	background: #ffffff;
	z-index: 2;
}

.content-grid {
	border-image-width: 0 20px 20px 20px;
	padding: 0 20px 20px;
	display: grid;
	grid-template-areas:
		'presentation'
		'details'
		'modulo1'
		'modulo2'
		'modulo3';
	grid-template-columns: 1fr;
	grid-template-rows: auto auto repeat(3, 1fr);
	justify-content: center;
	align-items: stretch;
}
@media (min-width: 768px) {
	.content-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto repeat(3, 1fr);
		grid-template-areas:
			'presentation details'
			'presentation modulo1'
			'presentation modulo2'
			'presentation modulo3';
	}
}
.content-grid .content-grid__item {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 0;
}
.content-grid .content-grid__item .back .back__footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}

/* TÍTULOS */
.heading__block {
	margin-bottom: var(--fio-sys-size-vertical-lg);
	margin-top: var(--fio-sys-size-vertical-lg);
	text-transform: uppercase;
}
.heading__block .heading__title {
	font-size: var(--fio-sys-typography-size-4);
	line-height: var(--fio-sys-typography-height-100);
	margin-bottom: var(--fio-sys-size-vertical-md);
	text-align: left;
}
.heading__block::after {
	content: url(../../media/home/title-bar.svg);
	display: block;
	height: auto;
	text-align: left;
}

#presentation {
	border-image-width: 0 0 20px 0;
	background-color: var(--fio-ref-color-secondary-95);
	grid-area: presentation;
	padding-top: var(--fio-sys-size-vertical-lg);
	padding-bottom: var(--fio-sys-size-vertical-xl);
}
@media (min-width: 768px) {
	#presentation {
		border-image-width: 0 20px 0 0;
	}
}

#details {
	border-image-width: 0 0 20px 0;
	grid-area: details;
	background-color: var(--fio-sys-color-tertiary-light);
	padding-top: var(--fio-sys-size-vertical-lg);
	padding-bottom: var(--fio-sys-size-vertical-lg);
}
#details .heading__block {
	/* margin-top: 0; */
	margin-bottom: var(--fio-sys-size-vertical-lg);
}
#details .heading__block .heading__title {
	text-align: center;
}
#details .heading__block::after {
	text-align: center;
}
#details .list-item {
	display: flex;
	flex-direction: column;
	gap: var(--fio-sys-size-vertical-sm);
	text-align: center;
	margin: 0 auto;
}
#details .list-item img {
	height: 80px;
	width: fit-content;
	margin: 0 auto;
}
#details .list-item h6 {
	font-size: var(--fio-sys-typography-size-0);
	line-height: var(--fio-sys-typography-height-110);
	text-align: center;
}

#modulo1 {
	border-image-width: 0 0 20px 0;
	grid-area: modulo1;
	padding-bottom: 20px;
	background-color: var(--fio-sys-color-secondary-light);
}

#modulo2 {
	border-image-width: 0 0 20px 0;
	grid-area: modulo2;
	padding-bottom: 20px;
	background-color: var(--fio-sys-color-primary-medium-contrast);
}
#modulo2 .front .image {
	text-align: center;
}

#modulo3 {
	border-image-width: 0;
	grid-area: modulo3;
	background-color: var(--fio-sys-color-tertiary-light);
}
#modulo3 .front .image {
	align-self: flex-end;
}

input[type='checkbox'] {
	display: none;
}
.flip-card,
.flip-card label {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.flip-card__content {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	perspective: 1000px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	width: 200%;
}
.front {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: row;
	height: 100%;
	justify-content: center;
	transition: opacity 0.2s linear;
}
.front .image {
	flex-basis: 20%;
}
.front .title {
	flex-basis: 60%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	text-transform: uppercase;
}
.front .footer {
	align-self: flex-end;
	flex-basis: 20%;
}
.flip-button {
	align-items: center;
	background-color: var(--fio-sys-color-secondary-medium);
	border: none;
	border-radius: var(--fio-sys-size-radius-full);
	display: block;
	justify-content: center;
	margin: 0 auto 20px;
	padding: 8px;
	rotate: -90deg;
}

.back {
	align-items: stretch;
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding: 0;
	transition: 0.2s linear;
}
.back .back__body {
	padding: 5%;
}
.back .back__body p {
	margin-bottom: var(--fio-sys-size-margin-sm);
}
.flip-card input:checked ~ .flip-card__content {
	transform: translateX(-50%);
}

footer {
	background-color: #ffffff;
	border-image-width: 0 20px 20px 20px !important;
	margin: 0;
	padding: 30px;
}

/* @media (min-width: 1200px) {
	footer .logos img {
		height: 60px;
	}
} */
