/* --- FOOTER --- */

:root {
	--logo-space: 40px;
}

footer {
	background-color: inherit;
	/* border-bottom: 20px solid var(--fio-sys-color-primary-dark); */
	padding: 60px 0 60px;
	position: relative;
	z-index: 99;

	border-image-source: var(--fio-sys-custom-border-image-source);
	border-image-slice: var(--fio-sys-custom-border-image-slice);
	border-image-width: 24px 24px;
	border-image-outset: 0 8px;
	border-image-repeat: round;
}

footer .logos {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: var(--logo-space);
	justify-content: space-evenly;
	list-style: none;
	margin: 0;
	padding: 20px 0;
}

footer .logos li {
	text-align: center;
	position: relative;
}
footer .logos li.realizacao::before {
	content: 'Realização:';
	text-align: center;
	display: block;
	font-size: 0.75rem;
	position: absolute;
	top: -30px;
	left: 0;
}

footer .logos.principais {
	/* border-top: 1px solid var(--fio-sys-color-neutral-light); */
	display: flex;
	margin-top: var(--logo-space);
}

footer .logos img {
	height: 60px;
}
@media (min-width: 768px) {
	footer .logos {
		flex-direction: row;
	}
	footer .logos img {
		height: 80px;
	}
	footer .logos.principais {
		border: none;
		/* border-left: 1px solid var(--fio-sys-color-neutral-light); */
		padding-left: var(--logo-space);
		/* margin-left: var(--logo-space); */
		margin-top: 0;
	}
}
@media (min-width: 992px) {
	:root {
		--logo-space: 30px;
	}
	footer {
		margin-left: 120px;
	}

	footer .logos {
		gap: var(--logo-space);
	}
	footer .logos img {
		height: 60px;
	}
}
@media (min-width: 1200px) {
	footer {
		margin-left: 120px;
		border-image-width: 0 24px 24px;
	}

	footer .logos img {
		height: 60px;
	}
}
@media (min-width: 1320px) {
	:root {
		--logo-space: 50px;
	}
}
