/* --- PAGE TITLE --- */

#page-title {
	height: 100svh;
	max-width: 100%;
	padding-top: 0px;
	overflow: hidden;
	background-image: linear-gradient(0deg, var(--fio-sys-color-primary-background-light) 0%, transparent 40%), url('https://placehold.co/1920x400');
	background-image: url('https://placehold.co/1920x400');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#page-title .container,
#page-title .container .row {
	height: 100%;
}

#page-title .title {
	color: var(--fio-sys-color-neutral-white);
	font-family: var(--fio-sys-typography-family-secondary-regular);
	line-height: var(--fio-sys-typography-height-125);
	font-size: var(--fio-sys-typography-size-4);
	text-align: left;
	text-shadow: var(--fio-sys-size-shadow-md);
}

#page-title .title .label {
	display: block;
	font-family: var(--fio-sys-typography-family-primary-medium);
	font-size: var(--fio-sys-typography-size-1);
	line-height: var(--fio-sys-typography-height-110);
	margin-bottom: var(--fio-sys-size-margin-sm);
	text-transform: var(--fio-sys-typography-label-transform);
}
@media (min-width: 992px) {
	#page-title {
		height: 500px;
		max-width: 100%;
		padding-top: 80px;
		overflow: hidden;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#page-title .container,
	#page-title .container .row {
		height: 100%;
	}

	/* #page-title .title {
		text-align: right;
		color: var(--fio-sys-color-neutral-white);
		font-size: var(--fio-sys-typography-head-xl-size);
		line-height: var(--fio-sys-typography-head-sm-line-height);
	} */
	/* #page-title .title .label {
		font-family: var(--fio-sys-typography-label-family);
		font-size: var(--fio-sys-typography-label-lg-size);
		line-height: var(--fio-sys-typography-label-height);
		text-transform: var(--fio-sys-typography-label-transform);
		letter-spacing: var(--fio-sys-typography-label-tracking);
		font-weight: var(--fio-sys-typography-label-weight);
		display: block;
	} */
}
